*{
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(24, 49, 83);
}

.cont{

  /* background-color: green; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}
.boxes{
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:  100px 100px 100px;
    background-color: #74C0FC;
    gap: 7px;
    padding: 20px;
    border-radius: 20px;
}
li{
  list-style-type: none;
}
.turn-Tracker{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 600;
  width: 40%;
  margin: auto;
  border-radius: 14px;
  font-size: 18px;
  text-decoration: underline;
  color: rgb(24, 49, 83);
}