*{
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgb(24, 49, 83);
}

.nav-ul{

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  height: 100%;
  
}
.links{
  color: black;
  font-weight: 600;
  font-size: 1.3em;
  text-decoration: none;
  padding: 10px;
  /* background-color: red; */
}
.links:hover{
  background-color: rgb(24, 49, 83);
  color: white;
  border-radius: 15px;
}


nav{
  height: 50px;
  background-color:#74C0FC;
  
}

.cont{

  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}
.boxes{
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:  100px 100px 100px;
    background-color: #74C0FC;
    gap: 7px;
    padding: 20px;
    border-radius: 20px;
}
li{
  list-style-type: none;
}
.turn-Tracker,.restarter{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 600;
  width: 40%;
  margin: auto;
  border-radius: 14px;
  font-size: 18px;
  text-decoration: underline;
  color: rgb(24, 49, 83);
}
h1{
  margin: auto;
  width: 60%;
  background-color: white;
  border-radius: 15px;
}
.navbar{

}